

img {
  width: 100%;
  height: auto;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

body {
  background-image: url('spacenebula.jpg');
    
  }
  
h1 {
    color: green;
  
}
  
h2 {
    color: green;
  
}
  
  
p {
  color: green;
  
}
  
/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
  
.downloadbtn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  
}
